!!! 5
%html(manifest="kiwoticum.appcache")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    %meta(name="description" content="kiwoticum game engine (alpha)")
    %meta(name="author" content="wolfger@spearwolf.de")

    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    %link(rel="apple-touch-icon" href="apple-touch-icon.png")

    = stylesheet_link_tag "site.css"
    = javascript_include_tag "modernizr2.min.js"

    = yield_content :head

  %body{ :class => page_classes }
    = yield

    - for js in %w(jquery-1.6.2.min.js raphael-min.js underscore-min.js iscroll-min.js perlin-noise-simplex.js custom_event-min.js spw.country_algorithms.js kiwoticum-min.js)
      = javascript_include_tag js

